dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*~
*.swp
Session.vim
endpoints.txt
plan.txt
*.pgerd
*.ods
*.ods#
tmp1
Session.vim
Session.vim
*.lock
report.html
log.log
test/oldSpec.hs
Session.vim
Session.vim
